/* App.css */

:root {
  --primary-color: rgba(74, 144, 226, 1.0);
  --primary-color-light: rgba(74, 144, 226, 0.8);
  --secondary-color: rgba(240, 248, 255, 1.0);
  --text-color: rgba(51, 51, 51, 1.0);
  --border-radius: 8px;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(248, 249, 250, 1.0);
  color: var(--text-color);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.header nav ul li a:hover {
  color: var(--primary-color-light);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  max-width: 100%;
  height: auto; /* Ensure the height auto-adjusts to maintain aspect ratio */
}

.section {
  padding: 50px;
  text-align: center;
  background-color: white;
  margin: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section:nth-child(odd) {
  background-color: var(--secondary-color);
}

.section h2 {
  color: var(--primary-color);
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.services-list li {
  margin: 10px 0;
}

.phone-number {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  margin-top: 20px;
  text-align: center;
}

.phone-number i {
  margin-right: 10px;
  font-size: 24px;
}

.footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* Ensures the footer stays at the bottom of the content */
}
